<h1>Edit Project</h1>
<%= form_with model: @project do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <div>
    <%= form.label :goal_amount %>
    <%= form.number_field :goal_amount %>
  </div>
  <div>
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end%>