<h1>All Projects</h1>
<% @projects.each do |project| %>
  <h2><%= project.title %></h2>
  <p>Description: <%= project.description %></p>
  <p>Goal Amount: <%= project.goal_amount %></p>
  <p>Start Date: <%= project.start_date %></p>
  <p>End Date: <%= project.end_date %></p>
  <%= link_to "View this project", project %>
<% end %>