<h1>Project info</h1>
<h2><%= @project.title %></h2>
<p>Description: <%= @project.description %></p>
<p>Current Amount: <%= @project.current_amount %></p>
<p>Goal Amount: <%= @project.goal_amount %></p>
<p>Start Date: <%= @project.start_date %></p>
<p>End Date: <%= @project.end_date %></p>
<hr>
<%= render @tier %>
<a href="/projects">Back to all projects</a>
<%= edit_project(@project) %>
